a.mymenu:hover {
	background-color: white;
}

.body_para {
	text-align: justify;
margin: 2%;
padding:3%;
float: left;
width:60%;
}

.footer
{
margin:1%;
text-align: center;
color: black;
font-size: 100%;
}